:root {
    --primary: #74a374;
    --secondary: #929292;
    --light: #ffffff;
    --gray: #858585;
    --gradient-login: linear-gradient(120deg, #74a374);
    --gradient-app: linear-gradient(120deg, #ebebebad);
}
#login {
    background: var(--gradient-login);
}

#app {
    background: var(--gradient-app);
}
header {
    padding: 5px;
    background-color: var(--light);
    border-bottom: 1px solid #bebcbc;
}

.color-primary {
    color: var(--primary);
}

.color-secondary {
    color: var(--secondary);
}

.texto-branco {
    font-size: 15px;
    font-weight: 500;
    color: var(--light);
}

.icon-detail {
    font-size: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

.info {
    background-color: var(--light);
    border-radius: 20px;
    padding: 20px 0;
}

.button-default,
.button-login,
.button-cancel {
    border-radius: 10px;
}

.button-default {
    background-color: var(--primary);
    color: var(--light);
}

.button-default:hover,
.button-login:hover {
    background-color: var(--secondary);
    color: var(--light);
}

.button-login {
    background-color: var(--light);
    color: var(--gray);
}

.button-float {
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    height: 60px;
    width: 60px;

    font-size: 35px;
    padding: 0 !important;

    border-radius: 50%;
    border: 2px solid var(--primary);

    background-color: var(--primary);
    color: var(--light);

    transition: 0.2s ease;
}

.button-float:hover {
    border-color: var(--secondary);
    background-color: var(--light);
    color: var(--secondary);
}

.link-default {
    color: var(--secondary); 
    font-weight: 600;
}

.link-default:hover {
    color: var(--primary);
}

.menu {
    margin-right: 20px;
}

.logout {
    min-width: 5rem !important;
}
